* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* This ensures padding doesn't affect the total width/height */
}
body {
    background-color: black;
    /*background-image: url('pics/background.jpg');
    background-size: cover;  /* Cover the entire viewport 
    background-repeat: no-repeat; /* Prevent the image from repeating 
    background-position: center; /* Center the image in the page */
    height: 100%; /* Optional: make the body height cover the whole viewport */
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    height: 12vh;
    width: 100%;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
    border: solid black;
    width: 80px;   /* Set a fixed width */
    height: 80px;  /* Set the same value for height to make it circular */
    object-fit: cover; /* Ensures the image covers the area nicely */
}

.nav-left{
    display: flex;
    flex-direction: row;
    width: 190%;
    justify-content: left;
    padding: 20px;
}


.header-buttons {
    width: 100%;
    display: flex;
    flex-direction: row; /* Ensures the items are in a row */
    justify-content: right; /* Aligns items to the right */
    gap: 45px; /* Spacing between each button, adjust as needed */
    font-size: larger;
    font-weight: bold;
    padding: 20px;
}

.text-link {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
}

.content-flex {
    position: relative; /* Establish a positioning context */
    display: flex;
    justify-content: space-between; /* This will space out the text-box and blog-slider */
    height: 88vh; /* Full viewport height */
    margin: 0 0; /* Remove default margins */
    padding: 0;
}

.text-box {
    font-size: 18px;
    width: 90%;
    /*padding: 0 20px; /* Add some padding around the text */
    color: white;
    height: 88vh;
    /*margin-left: 2%;
    margin-top: 2%;*/
    background-image: url('pics/background.jpg');
    background-size:auto;  /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image in the page */
    padding: 50px 80px;
    
}

.text{
    width: 900px;
    padding-top: 8%;
}

.blog-slider{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal overflow */
    max-height: 100vh; /* Adjust the calc() value as needed */
    scrollbar-width: thin; /* For modern browsers */
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on touch devices */
    scrollbar-color: black blue; /* Scrollbar styling */
    scrollbar-width: thin;
    text-align: center;
    color: white;   
    width: 250px;   
    border: solid white  1px;
    height: 88vh;
    
}

.blog-slider::-webkit-scrollbar {
    /*display: none; /* For Chrome, Safari, and Opera */
    color-scheme: dark;
    background-color: aqua;
}

.blog-slider::-webkit-scrollbar-track {
    background: #222; /* Track color */
}

.blog-slider::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
}

.hobby-box{ 
    display: flex; /* Corrected from 'flexbox' */
    flex-direction: row; /* Side by side for image and text */
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the start horizontally */
    width: auto; /* Make sure the width fits content or use a specific value */
    padding: 5%;
}
.hobby-img{
    border: solid black;
    width: 80px;   /* Set a fixed width */
    height: 80px;  /* Set the same value for height to make it circular */
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the area nicely */
}

.hobby-title{
    font-size: large;
    margin-left: 3px; /* Add space between the image and text */
    white-space: nowrap; /* Prevent the text from wrapping */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12vh;
    /*background-color: black;
    opacity: 60%;*/
    /*background-color: rgb(0,0,0); /* Fallback color
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

.select-block {
    position: sticky;
    top: 0; /* Set the top position to 0 so it sticks to the top of the container */
    background: #000; /* Set a background color so the text doesn't overlap on scroll */
    z-index: 10; /* Ensure it stacks on top of other content */
    padding-top: 10px; /* Increase padding to give it more height */
    margin-top: -20px; /* Pull the element up by 20px to cover any inherited gaps */
    color: aqua;
}

.hobby-block{
    padding-top: 18px;
}

a.clickable-span {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* The link will have the same color as the text around it */
    font-style: none;
    display: flex;
    align-items: center;
}

a.clickable-span:hover .hobby-title,
a.clickable-span:hover .hobby-img {
    color: yellow; /* Changes the text color */
    border-color: yellow; /* Changes the img border color */
}

.blog-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.blog-section{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 200px;
    border: solid white 1px;
    gap: 30px;
    padding-top:10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.selection-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding-left: 10px;
    /*border: solid white 1px;*/
    text-align: left;
    border: solid gray 1px;
}

.selection-box:hover{
    color: yellow;
    border: solid yellow 1px;
    cursor: pointer;
}

.comming-soon{
    color: aqua;
    font-size: small;
    font-style: italic;
    text-align: right;
}

.published{
    color: greenyellow;
    font-size: x-small;
    font-style: none;
    text-align: left;
}

.signup-flex{
    display: flex;
    flex-direction: row;
    height: 88vh;
    background-image: url('pics/background.jpg');
    background-size:auto;  /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image in the page */
    align-items: center;
    justify-content: center;
    min-height: 88vh; /* Adjust based on your layout */
    overflow: auto;
}

/*signup form prototyping

.signup-form {
    width: 300px; /* Adjust width as needed 
    padding: 20px;
    background: white; /* White form background 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth 
    border-radius: 8px; /* Rounded corners 
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="number"],
.signup-form input[type="password"] {
    width: calc(100% - 20px); /* Full width minus padding 
    padding: 10px;
    margin-bottom: 10px; /* Space between fields 
    border: 1px solid #ddd; /* Light grey border 
    border-radius: 4px; /* Slightly rounded edges 
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background: #007bff; /* Bootstrap primary color 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-form button:hover {
    background: #0056b3; /* Darken color on hover 
}*/

.signup-form {
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    background: white; /* White form background */
    border: solid black 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 8px; /* Rounded corners */
    margin: auto; /* Center the form */
}

.signup-form input[type="text"],
        .signup-form input[type="email"],
        .signup-form input[type="number"],
        .signup-form input[type="password"],
        .signup-form input[type="date"] {
            width: calc(100% - 20px); /* Full width minus padding */
            padding: 10px;
            margin-bottom: 2px; /* Space between fields */
            border: 1px solid #ddd; /* Light grey border */
            border-radius: 5px; /* Slightly rounded edges */
        }

.form-input {
    margin-bottom: 5px;
}

label {
    margin-bottom: 5px;
    display: block;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
}

.form-input input[type="submit"]{
    width: 100%;
    padding: 10px;
    background: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Added margin-top for spacing */
}

.signup-form input[type="submit"]:hover,
.signup-form input[type="checkbox"],
.signup-form input[type="radio"] {
    background: #0056b3; /* Darken color on hover */
    cursor: pointer;
}

/*contact prototyping*/

.contact-container{
    width: 300px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    text-align: center;
    margin-top: 22vh;
}

.contact-container h2 {
    margin-bottom: 20px;
}

.contact-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.2sk;
}

.contact-link:hover {
    background-color: #f8f8f8;
}

.icon {
    width: 20px;
    margin-right: 10px;
}

.contact-link > a {
    text-decoration: none;
    color: black;
}

.contact-logo{
    height: 30px;
    width: 30px;
    background-color: white;
    object-fit: cover;

}
