body {
    background-image: url('pics/background.jpg');
    background-size: cover;  /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image in the page */
    height: 100vh; /* Optional: make the body height cover the whole viewport */
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    border: solid white;
    height: 12vh;
    width: 100%;
}

.center-box {
    width: 35%;
    font-size: x-large;
    padding-left: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-buttons {
    display: flex;
    flex-direction: row; /* Ensures the items are in a row */
    justify-content: flex-end; /* Aligns items to the right */
    gap: 50px; /* Spacing between each button, adjust as needed */
    font-size: larger;
    font-weight: bold;
    margin-left: 31%;
}

.text-link {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
}

.content-flex {
    position: relative; /* Establish a positioning context */
    display: flex;
    justify-content: space-between; /* This will space out the text-box and blog-slider */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margins */
    
}

.text-box {
    font-size: larger;
    width: 50%;
    padding: 0 20px; /* Add some padding around the text */
    color: white;
    height: 85vh;
    margin-left: 2%;
    margin-top: 2%;
}

.blog-slider{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal overflow */
    max-height: calc(100vh - 0vh); /* Adjust the calc() value as needed */
    scrollbar-width: thin; /* For modern browsers */
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on touch devices */
    scrollbar-color: black blue; /* Scrollbar styling */
    scrollbar-width: thin;
    text-align: center;
    color: white;   
    height: fit-content;
    width: 18%;
    margin-left: auto;
    border: solid white  2px;
    height: 85vh;
    background-color: black;
    opacity: 75%;
}

.blog-slider::-webkit-scrollbar {
    /*display: none; /* For Chrome, Safari, and Opera */
}

.blog-slider::-webkit-scrollbar-track {
    background: #222; /* Track color */
}

.blog-slider::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
}

.hobby-box{ 
    display: flex; /* Corrected from 'flexbox' */
    flex-direction: row; /* Side by side for image and text */
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the start horizontally */
    width: auto; /* Make sure the width fits content or use a specific value */
    margin: 0; /* Remove margin if not needed */
    padding: 5%;
}
.hobby-box > img{
    border: solid white;
    width: 100px;   /* Set a fixed width */
    height: 100px;  /* Set the same value for height to make it circular */
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the area nicely */
}

.hobby-box > span{
    font-size: large;
    margin-left: 5px; /* Add space between the image and text */
    white-space: nowrap; /* Prevent the text from wrapping */

}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12vh;
    background-color: black;
    opacity: 60%;
}


